<div class="portfolio" ng-controller="filterCtrl as portfolio">

  <div class="portfolio-filter">
    <md-checkbox aria-label="Checkbox 1">
      Наш дизайн
    </md-checkbox>
    <md-checkbox aria-label="Checkbox 2">
      Наш фронтенд
    </md-checkbox>
    <md-checkbox aria-label="Checkbox 3">
      Наш бэкэнд
    </md-checkbox>
  </div>

  <div class="portfolio-list" ng-repeat="item in items">
    <div class="portfolio-item md-whiteframe-z1">
      <div class="clearfix">
        <div class="screen-shot">
          <img ng-src="{{item.image}}">
        </div>
        <div class="developers">
          <h4 class="project-name">{{item.name}}</h4>
          <h5 class="designer">Дизайн: {{item.design}}</h5>
          <p class="frontend">Верстка: {{item.frontend}}</p>
          <p class="backend">Серверная часть: {{item.backend}}</p>
          <a href="{{item.url}}">{{item.url}}</a>
        </div>
      </div>
      <p class="text">{{item.text}}</p>
    </div>
  </div>
</div>
