@import url("http://fonts.googleapis.com/css?family=Roboto\+Slab:400,700|Roboto:400,700,700italic,400italic")

html
  font-family 'Roboto Slab', serif

[layout=row]
  flex-direction row

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px
  img
    &.pull-right
      width 50px

md-toolbar
  &.md-default-theme
    background-color black

section
  &.jumbotron
    margin-bottom 30px
    padding 1px 30px
    background-color #5aadbb
    text-align center
    color white
    h1
      font-size 3em

.techs
  display flex
  flex-flow row wrap
  md-card
    width 30%
    img
      &.pull-right
        float right
        width 50px
md-content
  width 100%

md-sidenav
  height: 100vh
  float: left
  position: fixed
  overflow: hidden
  md-toolbar
    img
      height 88px
      margin 6px auto
      display block
  .sidenav-list
    list-style none
    padding 0
    margin 0
    li
      display block
      .md-button
        display block
        border-radius 0
// injector
// endinjector
// flex box
strong
  font-weight: bolder
html.flexbox
  body
    display: flex
    min-height: 100vh
    flex-direction: column
    overflow-y: hidden
  main
    flex: 1 0 auto
  .content
    display: flex
    flex-direction: column
  .main-wrapper
    min-height: 100vh
  .main-wrapper-wrap
    overflow: hidden
article
  padding: 15px
  max-height: calc(100vh - 64px)
  overflow-y: auto
.sidenav-footer
  position: absolute
  bottom: 0
  width: 100%
  .partners
    text-align: center
    h5
      margin-bottom: 4px
    img
      max-width: 180px
  .sotial
    padding: 4px 0
    background: black
    i
      font-size: 30px
      color: white
    .md-fab
      margin: 0 6px
.portfolio
  .portfolio-filter
    md-checkbox
      display: inline-block
  .portfolio-list
    .portfolio-item
      padding: 10px
      .screen-shot
        float: left
        width: 420px
        img
          width: 100%
      .developers
        margin-left: 430px
.clearfix
  overflow: auto
.portfolio-filter
  md-checkbox.md-default-theme.md-checked .md-icon
    background-color: green